[Unit]
Description=Renew mavenrepo TLS certificate from internal CA
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
Environment=DOMAIN={{ mavenrepo_domain }}
Environment=CA_ENDPOINT={{ ca_endpoint }}
ExecStart=/usr/local/bin/renew-cert.sh
